<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>The homepage!</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint quaerat, in provident
      cum vitae quia doloribus excepturi nam dolorum illum!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nemo aliquid assumenda
      ea ratione molestiae tenetur magnam eum, sint alias!
    </p>
  </body>
</html>
